/MscIT/Semester 1/Cloud_Computing/Practical 1/1A/tcpclientprime/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1A/tcpserverprime/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1A/tcpserverprime/build/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1A/tcpclientprime/build/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1B/ChatClient/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1B/ChatServer/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1B/ChatServer/build/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1B/ChatClient/build/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1A/tcpfileserver/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1A/tcpfileclient/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1C/tcpfileclient/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1C/tcpfileserver/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1C/tcpfileclient/build/
/MscIT/Semester 1/Cloud_Computing/Practical 1/1C/tcpfileserver/build/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2A/UDPServerEO/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2A/UDPClientEO/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2A/UDPServerEO/build/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2A/UDPClientEO/build/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2B/UDPclientFACT/build/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2B/UDPserverFACT/build/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2B/UDPclientFACT/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 2/2B/UDPserverFACT/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3A/RPCServer/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3A/RPCClient/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3A/RPCServer/build/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3A/RPCClient/build/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3B/RPCNumOperationClient/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3B/RPCNumOperationServer/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3B/RPCNumOperationServer/build/
/MscIT/Semester 1/Cloud_Computing/Practical 3/3B/RPCNumOperationClient/build/
/MscIT/Semester 1/Cloud_Computing/Practical 4/BroadcastClient/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 4/BroadcastServer/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 4/BroadcastServer/build/
/MscIT/Semester 1/Cloud_Computing/Practical 4/BroadcastClient/build/
/MscIT/Semester 1/Cloud_Computing/Practical 5/5A/serverdate/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 5/5A/serverdate/build/
/MscIT/Semester 1/Cloud_Computing/Practical 5/5A/serverdate/dist/
/MscIT/Semester 1/Cloud_Computing/Practical 6/6A/CalculatorWSApplication/nbproject/private/
/MscIT/Semester 1/Cloud_Computing/Practical 6/6A/CalculatorWSApplication/build/

# Pracenv
__pycache__/
.env
*.log
*.pyc
*.pyo

# .NET Core & .NET CLI
bin/
obj/

# Visual Studio Code
.vscode/

# Visual Studio 2015/2017/2019
*.suo
*.user
*.psess
*.vsp
*.vspx
*.sln.docstates
*.ide

# Resharper cache/temporary files
_ReSharper*/
*.resharper
*.DotSettings.user
*.Cache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Xamarin-specific
bin/
obj/
*.userprefs
*.usertasks
*.user






# .NET Core & .NET CLI
bin/
obj/

# Visual Studio Code
.vscode/

# Visual Studio 2015/2017/2019
*.suo
*.user
*.psess
*.vsp
*.vspx
*.sln.docstates
*.ide

# Resharper cache/temporary files
_ReSharper*/
*.resharper
*.DotSettings.user
*.Cache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Bb]in/

# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.json
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
requirements.txt
