<html>
<head>
    <title>Hello world</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/Scripts/hello.js"></script>
</head>
<body>
    <h1>Hello World</h1>
    <div>
        <h2>Stock Quote</h2>
        <div>
            Symbol: @Model.Symbol<br/>
            Price: $@Model.Price<br/>
        </div>
    </div>
    <br/>
    <div>
        <p class="quote-symbol">The Symbol is </p>
        <p class="quote-price">The price is $</p>
    </div>
</body>
</html>